
body{
    font-family: "roboto", sans-serif;
    margin: 0;
    min-width: 100vw ;
    overflow-x: hidden;
}

.body{
    
    display: flex;
    flex: 1;
    flex-direction: column;
}
/*Hero (the top of the website) and elements
-Header
--Logo
--Links
-Content-top
--Content-title
--Content-paragraph
--Content-photo
*/

.hero{
    background-color: #1f2937;
    display: flex;
    flex:1;
    flex-direction: column;
    padding:20px;
    
}

.header{
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.logo{
    margin: auto;
    padding: 5px;
}

.links{
    margin: auto;
    padding: 10px;
}

.links ul{
    display: flex;
    
    list-style-type: none;
    gap: 10px;
    padding: 0px;
    margin: 0px;
}

a {
    color: white;
    text-decoration: none;
}
/* Content Top */

.content-top{
    display: flex;
    justify-content: center;
    gap:20px;
    padding: 10px;
    margin: auto;
}

.top-title{
    color: white;
    padding: 5px;
    text-wrap: wrap;
}

.top-title p,h2{
    padding: 5px;
    text-wrap: wrap;
}

.top-photo{
    align-items: center;
    display: flex;
    object-fit: contain;
    padding: 5px;
    flex:1;
    justify-content: center;
}

/* Content Mid */

.content-mid{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.card-container{
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap:10px;
}

.card{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}
.card-button{
    display: flex;
    flex: 1;
    object-fit: scale-down;
}
.card-title{
    text-align: center;
}
/* Content bottom */

.content-bottom{
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 20px; 
    
}

.signup-background{
    align-items: center;
    background-color: lightskyblue;
    border-radius: 12px;
    display: flex;
    gap: 20px;
    padding: 20px;
    margin: 20px;
}

.signup-promotion{
    align-items:flex-start;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    text-wrap: wrap;
    
}

.promotion{
    font-size: 18px;
    font-weight: 600;
    margin: auto;
    padding: 5px;
}

.promotion-description{
    font-size: 14px;
    font-weight: 500;
    margin: auto;
    padding: 10px;
}

.signup-button-pane{
    align-items: center;
    display: flex;
    flex: none;
    justify-content: center;
    margin: 10px;
}

.signup-button{
    background-color: lightskyblue;
    border-radius: 12px;
    color: white;
    flex: 1;
    padding: 20px;
    margin: 10px;
}


/* Footer Content */

.footer{
    align-items: center;
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
}